# Ignorar node_modules
Client/node_modules/
server/node_modules/

# Ignorar envs
server/.env
Client/.env

# Ignorar builds
Client/build/
server/dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos que no se deben subir
server/insert_mapeado.js
server/mapeado_estacionamientos.json

