# Ignorar node_modules
Client/node_modules/
server/node_modules/

# Ignorar envs
server/.env

# Ignorar builds
Client/build/
server/dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos que no se deben subir
insert_mapeado.js
mapeado_estacionamientos.json

